<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>zero args function</Title>
    <Author>neuecc</Author>
    <Shortcut>func0</Shortcut>
    <Description>one line zero args function</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="jscript"><![CDATA[function () { return $end$ }]]></Code>
  </Snippet>
</CodeSnippet>