<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>nl</Title>
    <Author>neuecc</Author>
    <Shortcut>nl</Shortcut>
    <Description>XML comment for newline</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="JavaScript"><![CDATA[/// &#10;$end$]]></Code>
  </Snippet>
</CodeSnippet>
